{% extends "base.html" %}

{% block content %}
        {% if not checks %}

        <h1>Apostar:</h1>
        <form action="{% url 'jogo_do_bicho:apostar' %}" method="POST">
        {% csrf_token %}
          {{ formset.management_form }}
          <div class="row">
          {% for form in formset.forms %}
            <div class="col-auto">
                <label >{{form.id.value }}</label>
                <div class="form-group">
                  {{ form.id }}
                  {{ form.numero }}
                </div>
            </div>

              {% endfor %}
              <button type="submit" class="btn btn-primary">Apostar</button>
            </form>
          </div>
            {% else %}

            <h1>Results:</h1>

            {% for check in checks %}
              <p>{{ check.id }} {{ check.text }}</p>
            {% endfor %}


            {% endif %}
{% endblock content %}
