{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-auto">
            <a class="btn btn-primary" href="{% url 'jogo_do_bicho:apostar' %}">Apostar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <h1>Detalhes</h1>
            <ul>
               <li><b>Nome:</b> {{ object.usuario}}</li>
               <li><b>Saldo:</b> {{ object.saldo|floatformat:2}}</li>
            </ul>
        <div class="col">
    </div>
{% endblock content %}
